<!DOCTYPE html>
{% load static %}
{% load load_bundle %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static "frontend/app/favicon.ico" %}">
    <title>{% trans "Friends book" %}</title>
</head>
<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script id="config" type="text/json">
        {% if locale %}
            {"locale": "{{locale}}"}
        {% else %}
            {"locale": "undefined"}
        {% endif %}
    </script>
    <div id="app">
    </div>
        {% load_bundle %}
    <!-- built files will be auto injected -->

</body>
</html>